# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.valgrind

# Next.js / Node
node_modules/
.next/
out/
build/
dist/
.next-env.d.ts

# Environments & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# OS / Editors
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo

# Project logs
*.log
